{% extends "base.twig" %}


{% block content %}
    <main class="container-fluid d-flex flex-column background-image pt-5" >
        <div class="card mt-5 p-5 bg-fid-transparent-light" >
            <h1 class="text-center">Zugriff nicht möglich</h1>
            <p class="text-dark text-center ">
                Bitte stellen Sie sicher, dass Sie angemeldet sind und ausreichende Befugnisse haben.
            </p>
        </div>
    </main>

{% endblock %}