{% extends "base.twig" %}
{% block content %}
<main class="bg-dark">
    <div class="content-container m-auto bg-light shadow d-flex flex-column" style="height: 100%!important;">
        <div class="content-padding">
            <h1 class="p-2 p-sm-4">{{ wp.posts.0.post_title }}</h1>
            <hr>
            <div class="p-2 p-sm-4">
                {{ wp.posts.0.post_content}}
            </div>
        </div>

    </div>
</main>


{% endblock %}
