{% extends "base.twig" %}
{% block content %}
    <main>
        <div class="jumbotron">
            <h1 class="text-center">SUMMA THEOLOGIAE COLONIENSES
            </h1>
            <p>
                Diese im Aufbau befindliche Projektseite gilt der ersten vollständigen modernen deutschen Übersetzung der <i>Summa theologiae</i> des Thomas von Aquin. Denn obwohl die <i>Summa theologiae</i> das Hauptwerk des Thomas ist und zweifellos zu den „Great Books“ zählt, fehlt eine solche, deutsche Übersetzung. Diese soll als open science-Projekt in den nächsten Jahren am Thomas-Institut entstehen und bis zum doppelten Thomas-Jubiläum 2024/25 abgeschlossen und frei zugänglich sein. Demnächst erfahren Sie mehr!
            </p>
        </div>
        <div class="container-fluid bg-dark p-3">
            {% include 'templates/toc.twig' %}
        </div>
    </main>
        {% endblock %}


