{% extends "base.twig" %}
{% block content %}
    <main>

        <div class="container mt-5 mb-5 pb-3 viewer-container">
            {% include 'templates/toc.twig' %}
        </div>
        <script>
            $(document).on("click", "sup", function () {

                var sup_id = $(this).attr("id");
                var fn_id = sup_id.replace("fnref:", "")
                fn_id = fn_id-1;
                var footnote_html = $(this).closest(".chunk_content").find('li:nth('+fn_id+')').html()
                $(".footnotes-text").html(footnote_html)
                $('#footnotes-bar').collapse("show")

            })

        </script>


    </main>
    {% include "templates/viewer.navigation.twig" %}
        {% endblock %}


