<nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item"><a class="page-link bg-dark text-stc-primary" href="#"><i class="fas fa-arrow-circle-left"></i></a></li>
        <li class="page-item"><a class="page-link bg-dark text-stc-primary" href="#">{{ webInfo.currentPageText }}#</a></li>
        <li class="page-item"><a class="page-link bg-dark text-stc-primary" href="#"><i class="fas fa-arrow-circle-right"></i></a></li>
    </ul>
</nav>


