@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
a {
  color: #6e0b5f;
}

a:hover {
  color: #cb14af;
}

body {
  font-family: Piazzolla, serif;
}

h1 {
  font-family: Raleway, sans-serif;
}

hr {
  background: linear-gradient(to right, pink, #6e0b5f, #005477, #5c89a4, pink);
  padding: 0;
  margin: 0;
  height: 1.5px;
}

main {
  min-height: 100vh;
}

nav {
  font-family: Raleway, sans-serif;
}

::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.16);
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(81, 21, 0, 0.12);
}

::-webkit-scrollbar-thumb {
  background-color: #6e0b5f;
}

.animate__slideInRight {
  width: 88px !important;
  min-width: 88px !important;
}

.badge-fid {
  background-color: white;
  color: #6e0b5f;
  border: solid;
  border-width: 1px;
  border-color: #6e0b5f;
}

.badge-fid-hover:hover {
  background-color: #6e0b5f;
  color: white;
  border: solid;
  border-width: 1px;
  border-color: #6e0b5f;
  cursor: pointer;
}

.bg-fid {
  background-color: #6e0b5f;
}

.bg-fid-slightly-brighter {
  background-color: #850d73;
}

.bg-fid-slightly-brightest {
  background-color: #9c1087;
}

.bg-fid-secondary {
  background-color: #005477;
}

.bg-fid-secondary-brighter {
  background-color: #009cdd;
}

.bg-fid-secondary-brightest {
  background-color: #44c8ff;
}

.bg-fid-secondary-slightly-brighter {
  background-color: #006691;
}

.bg-fid-secondary-slightly-brightest {
  background-color: #0078aa;
}

.bg-fid-tertiary {
  background-color: #5c89a4;
}

.bg-fid-tertiary-slightly-brighter {
  background-color: #6c95ad;
}

.bg-fid-tertiary-slightly-brightest {
  background-color: #7da1b6;
}

.bg-fid-transparent {
  background-color: rgba(110, 11, 95, 0.9);
}

.bg-fid-transparent-light {
  background-color: rgba(245, 242, 234, 0.875);
}

.border-fid {
  border-color: #6e0b5f !important;
}

.border-fid-secondary {
  border-color: #005477 !important;
}

.border-fid-tertiary {
  border-color: #5c89a4 !important;
}

.btn-fid {
  color: white;
  background-color: #6e0b5f;
  border-color: #6e0b5f;
}

.btn-fid:hover {
  color: white;
  background-color: #b4129b;
  border-color: #b4129b;
}

.btn-fid-secondary {
  color: white;
  background-color: #005477;
  border-color: #005477;
}

.btn-fid-secondary:hover {
  color: white;
  background-color: #008ac4;
  border-color: #008ac4;
}

.btn-no-hover:hover {
  cursor: text !important;
  background-color: #6e0b5f !important;
}

.btn-outline-fid {
  color: #6e0b5f;
  border-color: #6e0b5f;
}

.btn-outline-fid:hover {
  color: white;
  border-color: #6e0b5f;
  background-color: #6e0b5f;
}

.btn-outline-fid-secondary {
  color: #005477;
  border-color: #005477;
}

.btn-outline-fid-secondary-brighter {
  color: #44c8ff;
  border-color: #44c8ff;
}

.btn-outline-fid-secondary-brightest {
  color: #44c8ff;
  border-color: #44c8ff;
}

.btn-xs {
  padding: 2px !important;
  font-size: 12px !important;
}

.content-box {
  margin-top: 80px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #6e0b5f !important;
  border: unset !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #6e0b5f !important;
  border: unset !important;
}

.custom-control-label:before {
  background-color: #6e0b5f !important;
  border-color: white !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #9c1087 !important;
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: #6e0b5f !important;
}

.disabled-cursor {
  cursor: not-allowed;
}

.facet-box {
  border-color: #6e0b5f;
  font-family: Raleway, sans-serif;
}

.facet-box:hover {
  border-width: 2px;
}

.facet-box-header {
  cursor: pointer;
}

.facet-entry-selected {
  border: solid 1px #6e0b5f;
  background-color: #f385e2;
}

.facet-entry-selected:hover {
  border: solid 1px #6e0b5f;
  background-color: #e217c3 !important;
}

.facet-value {
  margin-right: 5px;
  font-size: 15px;
}

.fid-prepend {
  width: 150px;
}

.fid-prepend-item-100 {
  width: 100px;
}

.footer-logo-box {
  padding: 2px;
  width: 100%;
}

.gradient-fid {
  background: linear-gradient(to right, #ffe4e8, #8e0e7b, #006d9b, #739ab1, #ffe4e8);
}

.greedy-bear {
  display: none !important;
}

.home-card {
  width: 30vh;
  height: 20vh;
  max-height: 20vh;
}

.icon-fid {
  font-size: 25px;
}

.icon-fid-md {
  font-size: 20px;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  top: 35%;
}

.icon-lg {
  font-size: 16vh;
}

.landing-card {
  height: 300px !important;
  font-family: Raleway, sans-serif;
}

.landing-table-tile {
  width: 1200px;
}

.landing-tile {
  height: 240px;
  width: 250px;
}

.landing-tile-font {
  font-size: 14px !important;
  text-align: center !important;
  font-family: Piazzolla, serif;
}

.link-fid {
  color: #0a0a0a;
}

.link-fid:hover {
  color: #6e0b5f;
  text-decoration: none;
}

.list-group-hover:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.list-group-item.active {
  border-color: #6e0b5f;
  color: #6e0b5f;
  background-color: white;
}

.list-group-facet-item-fid:hover {
  background-color: #f5f5f5;
  border-right: solid 2px #5c89a4;
  border-left: solid 2px #5c89a4;
  cursor: pointer;
}

.list-group-result-item-fid:hover {
  background-color: #f5f5f5;
  border-right: solid 3px #5c89a4;
  cursor: pointer;
}

.list-search-setting-item {
  min-width: 25% !important;
}

.nav-link {
  font-size: 18px;
}

.nav-link-fid {
  color: #6e0b5f !important;
}

.nav-link-fid:hover {
  border-bottom: solid 1px #6e0b5f;
}

.nav-link-fid.active {
  border-bottom: solid 1px #6e0b5f;
}

.nav-link-fid-secondary {
  color: #005477 !important;
}

.nav-link-fid-secondary:hover {
  border-bottom: solid 1px #005477;
}

.nav-link-fid-secondary.active {
  border-bottom: solid 1px #005477;
}

.nav-link-fid-tertiary {
  color: #5c89a4 !important;
}

.nav-link-fid-tertiary:hover {
  border-bottom: solid 1px #5c89a4;
}

.nav-link-fid-tertiary.active {
  border-bottom: solid 1px #5c89a4;
}

.noUi-connect {
  background-color: #005477 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.page-link .disabled {
  color: grey !important;
}

.page-link:hover {
  color: white !important;
  background-color: #6e0b5f !important;
}

.pagination-page:hover {
  background-color: #6e0b5f;
}

.pointer {
  cursor: pointer;
}

.record-title {
  font-size: 20px !important;
}

.record-type {
  display: flex;
  align-items: center;
  width: 200px;
  min-width: 200px;
}

.record-type-sm {
  width: 60px;
  min-width: 60px;
}

.result-content-box {
  min-width: 100%;
  height: 80px;
}

.scrollbar-fid {
  overflow-y: scroll;
  scrollbar-color: #6e0b5f;
  scrollbar-width: 2px;
}

.search_box {
  font-family: Piazzolla, serif;
  padding: 5px;
  width: 75vw;
  border-radius: 0.25rem;
}

.search-box-sm {
  padding: 0 0 2vh 0;
}

.slide-element:hover {
  filter: brightness(80%);
}

.story-box {
  height: 500px !important;
}

.story-content {
  font-size: 22px;
  text-align: justify;
}

.td-fid {
  width: 10% !important;
}

.text-fid {
  color: #6e0b5f !important;
}

.text-fid-secondary {
  color: #005477 !important;
}

.text-fid-tertiary {
  color: #5c89a4 !important;
}

.tooltip-inner {
  background-color: #6e0b5f;
}

.under-search {
  width: 60vw;
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
  opacity: 1;
}

.htmx-request.htmx-indicator {
  opacity: 1;
}

.cssload-loader-inner {
  bottom: 0;
  height: 83px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 138px;
  z-index: 2;
}

.cssload-cssload-loader-line-wrap-wrap {
  animation: cssload-spin 2300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  -o-animation: cssload-spin 2300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  -ms-animation: cssload-spin 2300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  -webkit-animation: cssload-spin 2300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  -moz-animation: cssload-spin 2300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 69px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  width: 138px;
}

.cssload-loader-line-wrap {
  border: 6px solid transparent;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 138px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 138px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) {
  animation-delay: -57.5ms;
  -o-animation-delay: -57.5ms;
  -ms-animation-delay: -57.5ms;
  -webkit-animation-delay: -57.5ms;
  -moz-animation-delay: -57.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(2) {
  animation-delay: -115ms;
  -o-animation-delay: -115ms;
  -ms-animation-delay: -115ms;
  -webkit-animation-delay: -115ms;
  -moz-animation-delay: -115ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(3) {
  animation-delay: -172.5ms;
  -o-animation-delay: -172.5ms;
  -ms-animation-delay: -172.5ms;
  -webkit-animation-delay: -172.5ms;
  -moz-animation-delay: -172.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(4) {
  animation-delay: -230ms;
  -o-animation-delay: -230ms;
  -ms-animation-delay: -230ms;
  -webkit-animation-delay: -230ms;
  -moz-animation-delay: -230ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(5) {
  animation-delay: -287.5ms;
  -o-animation-delay: -287.5ms;
  -ms-animation-delay: -287.5ms;
  -webkit-animation-delay: -287.5ms;
  -moz-animation-delay: -287.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
  border-color: #1e3a4b;
  height: 124px;
  width: 124px;
  top: 10px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
  border-color: #385a71;
  height: 105px;
  width: 105px;
  top: 19px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
  border-color: #5a2e62;
  height: 85px;
  width: 85px;
  top: 29px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
  border-color: #385a71;
  height: 66px;
  width: 66px;
  top: 39px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
  border-color: #1e3a4b;
  height: 47px;
  width: 47px;
  top: 48px;
}

@keyframes cssload-spin {
  0%, 15% {
    transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes cssload-spin {
  0%, 15% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes cssload-spin {
  0%, 15% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-spin {
  0%, 15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes cssload-spin {
  0%, 15% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (max-width: 1920px) {
  .background-image {
    height: 100vh !important;
    background-image: url("../img/a_school_new.jpg");
    background-size: 1920px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .landing-page-img {
    height: 400px !important;
    background-image: url("../img/a_school_new.jpg");
    background-size: 1920px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1921px) {
  .background-image {
    height: 100vh !important;
    background-image: url("../img/a_school_new_xl.jpg");
    background-size: 1920px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .landing-page-img {
    height: 400px !important;
    background-image: url("../img/a_school_new_xl.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1280px) {
  .story-box {
    height: 350px !important;
  }

  .story-content {
    font-size: 16px;
  }

  .landing-tile {
    width: 23vw;
  }

  .landing-table-tile {
    width: 92vw;
  }
}
@media (max-width: 1100px) {
  .landing-tile {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .content-box {
    margin-top: 50px !important;
  }

  .strong-fid {
    font-size: 12px;
  }

  .landing-card {
    height: 200px !important;
  }

  .landing-table-tile {
    width: 92vw;
  }

  .landing-tile {
    height: 180px;
    width: 400px;
  }

  .landing-tile-header {
    font-size: 1.5rem;
  }

  .story-box {
    height: 300px !important;
  }

  .story-content {
    font-size: 15px;
  }

  .record-type {
    display: flex;
    align-items: center;
    width: 60px;
    min-width: 60px;
  }

  .welcome-box {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .story-box {
    height: 400px !important;
  }

  .story-content {
    font-size: 15px;
  }
}

/*# sourceMappingURL=fid-phil.style.css.map */
