@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
a {
  color: #BE2C5C !important;
  font-weight: bold !important;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #BE2C5C !important;
  font-weight: bold !important;
}

h2 {
  color: #BE2C5C !important;
}

.bg-stc-background {
  background-color: #c8c1c5 !important;
}

.bg-stc-tertiary {
  background-color: #fbffee !important;
}

.bg-summa-primary {
  background-color: #BE2C5C !important;
}

.btn-summa {
  background-color: #BE2C5C !important;
  color: white !important;
  border: none !important;
}

.btn-summa:hover {
  background-color: #e89bb4 !important;
}

.btn-summa-secondary {
  background-color: white !important;
  color: #BE2C5C !important;
  border: none !important;
}

.btn-summa-secondary:hover {
  background-color: #e6e6e6 !important;
}

.content-container {
  max-width: 1280px !important;
  min-height: 100vh !important;
}

.chunk-box td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.content-padding {
  padding-left: 75px !important;
  padding-right: 75px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.current-footnotes {
  max-height: 400px !important;
  min-width: 300px !important;
  max-width: 25vw !important;
  border-top-right-radius: 0.45rem !important;
  border-top-left-radius: 0.45rem !important;
  background-color: #e6e6e6;
  margin: auto;
  bottom: 60px !important;
  padding: 10px !important;
  hyphens: auto;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  border-style: solid !important;
  border-width: thin;
  border-color: #343a40 !important;
}

.fixed-width {
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  z-index: 1030 !important;
}

.footnotes {
  display: none !important;
}

.generic-container {
  background-color: #fbffee !important;
}

.landing-page-img {
  height: 400px !important;
  background-image: url("../img/arch.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing-page-ms {
  height: 400px !important;
  background: linear-gradient(0deg, #BE2C5C, #BE2C5C), url("../img/summa_ms.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.nav-content {
  max-width: 1280px !important;
}

.nav-link {
  color: #2d2d2d !important;
}

.nav-link:hover {
  color: #BE2C5C !important;
}

.nav-link-footer {
  color: white !important;
  font-size: 12px !important;
}

.nav-link-footer:hover {
  color: #e6e6e6 !important;
}

.nav-link-social {
  color: #BE2C5C !important;
}

.nav-link-social:hover {
  color: #e89bb4 !important;
}

.table td, .table th {
  border: unset !important;
}

.text-summa-primary {
  color: #BE2C5C !important;
}

.title-box {
  max-width: 1024px !important;
}

.title-text {
  color: #2d2d2d;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.toc-list {
  border-radius: 0.45rem;
}

.viewer-container {
  background-color: #fbffee !important;
  border-radius: 0.45rem !important;
  min-width: 768px !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.z-img-join {
  background-image: url("../img/tablet.jpg");
}

.z-img-project {
  background-image: url("../img/lib.jpg");
}

@media (max-width: 767px) {
  .landing-page-cite {
    height: 200px !important;
    width: auto;
    border-radius: 50% !important;
    margin-top: auto !important;
  }

  .landing-page-info {
    height: 200px !important;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100% !important;
  }

  .landing-page-info-text {
    width: 100% !important;
  }

  .news-box {
    padding: 0 !important;
    width: auto !important;
  }

  .news-card {
    width: 92vw !important;
  }

  .news-img {
    width: 92vw !important;
    height: 69vw !important;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .news-box {
    padding: 0 !important;
  }

  .news-card {
    width: 256px !important;
  }

  .news-img {
    width: 256px !important;
    height: 192px !important;
  }
}
@media (min-width: 768px) {
  .landing-page-cite {
    height: 250px !important;
    width: auto;
    border-radius: 50% !important;
    margin-top: auto !important;
  }

  .landing-page-info {
    height: 400px !important;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60% !important;
  }

  .landing-page-info-text {
    width: 40% !important;
  }
}
@media (min-width: 1281px) {
  .news-box {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .news-card {
    width: 360px !important;
  }

  .news-img {
    width: 360px !important;
    height: 270px !important;
  }
}

/*# sourceMappingURL=stc.style.css.map */
