@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
a {
  color: #BE2C5C !important;
  font-weight: bold !important;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem !important;
}

h1 {
  color: #BE2C5C !important;
  font-weight: bold !important;
}

h2 {
  color: #BE2C5C !important;
}

.accordion-button:not(.collapsed) {
  color: #BE2C5C !important;
  background-color: #fbeef2;
}

.bg-stc-background {
  background-color: #dcd5d9 !important;
}

.bg-stc-tertiary {
  background-color: #fbffee !important;
}

.bg-summa-primary {
  background-color: #BE2C5C !important;
}

.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  left: -1px;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #BE2C5C !important;
}

.btn-summa {
  background-color: #BE2C5C !important;
  color: white !important;
  border: none !important;
}

.btn-summa:hover {
  background-color: #e89bb4 !important;
}

.btn-summa-secondary {
  background-color: white !important;
  color: #BE2C5C !important;
  border: none !important;
}

.btn-summa-secondary:hover {
  background-color: #e6e6e6 !important;
}

.content-container {
  max-width: 1280px !important;
  min-height: 100vh !important;
}

.chunk-box td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.chunk-content {
  text-align: justify !important;
  font-size: 2px !important;
}

.current-footnotes {
  max-height: 400px !important;
  min-width: 300px !important;
  max-width: 25vw !important;
  border-top-right-radius: 0.45rem !important;
  border-top-left-radius: 0.45rem !important;
  background-color: #e6e6e6;
  margin: auto;
  bottom: 60px !important;
  padding: 10px !important;
  hyphens: auto;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  border-style: solid !important;
  border-width: thin;
  border-color: #343a40 !important;
}

.dropdown-item {
  font-size: 0.85rem !important;
  letter-spacing: 0.15rem !important;
}

.dropdown-item.active, .dropdown-item:active {
  text-decoration: none !important;
  background-color: #BE2C5C !important;
  color: #fbffee !important;
}

.fixed-width {
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  z-index: 1030 !important;
}

.footer {
  min-height: 200px !important;
}

.footer-picture {
  width: 1280px !important;
  position: relative !important;
  margin-top: auto !important;
}

.footnotes {
  display: none !important;
}

.generic-container {
  background-color: #fbffee !important;
}

.index-list-item:hover, .index-list-item:hover .text-summa-primary, .index-list-item:hover .text-dark {
  color: white !important;
  background-color: #BE2C5C !important;
}

.landing-page-img {
  height: 400px !important;
  background-image: url("../img/iStock-1194708621_[Nikada].jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.corpus-img {
  background-image: url("../img/iStock-829775428_[cristianoalessandro].jpg");
}

.landing-page-corpus-text {
  color: white !important;
}

.nav-content {
  max-width: 1280px !important;
}

.nav-link {
  color: #2d2d2d !important;
  font-size: 0.85rem !important;
  letter-spacing: 0.15rem !important;
}

.nav-link:focus {
  outline: none !important;
}

.nav-link:hover {
  color: #BE2C5C !important;
}

.nav-link-active {
  text-decoration: initial !important;
  text-decoration-line: underline !important;
  text-decoration-thickness: 3px !important;
  text-decoration-color: #BE2C5C !important;
}

.nav-link-footer {
  color: white !important;
  font-size: 12px !important;
}

.nav-link-footer:hover {
  color: #e6e6e6 !important;
}

.nav-link-social {
  color: #BE2C5C !important;
}

.nav-link-social:hover {
  color: #e89bb4 !important;
}

.page-item:hover .bg-light {
  background-color: #e89bb4 !important;
}

.paragraph-padding {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.project-page-img {
  height: 400px !important;
  background-image: url("../img/shutterstock_1939368049.jpg");
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
}

.project-page-divider {
  height: 300px !important;
  background: url("../img/iStock-624695614_[Jacob Ammentorp Lund].jpg");
  background-size: 130%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100% !important;
}

.table table {
  min-width: 1024px !important;
  overflow-x: auto !important;
}

.table td, .table th {
  border: unset !important;
}

.text-summa-primary {
  color: #BE2C5C !important;
}

.title-box {
  max-width: 1024px !important;
}

.title-text {
  color: #2d2d2d;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.toc-list {
  border-radius: 0.45rem;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #BE2C5C !important;
  border-radius: 0.25rem;
}

.viewer-container {
  background-color: #fbffee !important;
  border-radius: 0.45rem !important;
  min-width: 768px !important;
}

.viewer-box {
  min-width: 1024px !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.z-img-join {
  background-image: url("../img/iStock-1185878314_[Jay Yuno].jpg");
}

.z-img-project {
  background-image: url("../img/lib.jpg");
}

.z-img-team {
  background-image: url("../img/Triumph_des_Thomas_von_Aquin.jpg");
}

@media (max-width: 767px) {
  .content-container {
    padding-bottom: 200px !important;
  }

  .content-padding {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .jumbotron {
    height: 200px !important;
  }

  .landing-page-cite {
    height: 200px !important;
    width: auto;
    border-radius: 50% !important;
    margin-top: auto !important;
  }

  .landing-page-corpus-text {
    font-size: 1.1em !important;
  }

  .landing-page-corpus-text-container {
    height: 300px !important;
    width: 100% !important;
    background: linear-gradient(0deg, rgba(190, 44, 92, 0.91), rgba(190, 44, 92, 0.91)), url("../img/summa_ms.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .landing-page-info {
    height: 200px !important;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100% !important;
  }

  .landing-page-info-text {
    width: 100% !important;
  }

  .news-box {
    padding: 0 !important;
    width: auto !important;
  }

  .news-card {
    width: 92vw !important;
  }

  .news-img {
    width: 92vw !important;
    height: 69vw !important;
  }

  .paragraph-padding {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  .project-page-divider {
    height: 250px !important;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .news-box {
    padding: 0 !important;
  }

  .news-card {
    width: 256px !important;
  }

  .news-img {
    width: 256px !important;
    height: 192px !important;
  }
}
@media (min-width: 768px) {
  .content-padding {
    padding-left: 75px !important;
    padding-right: 75px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .landing-page-cite {
    height: 250px !important;
    width: auto;
    border-radius: 50% !important;
    margin-top: auto !important;
  }

  .landing-page-corpus {
    height: 400px !important;
    background: linear-gradient(0deg, rgba(190, 44, 92, 0.91), rgba(190, 44, 92, 0.91)), url("../img/summa_ms.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50% !important;
  }

  .landing-page-corpus-text {
    font-size: 20px !important;
  }

  .landing-page-corpus-text-container {
    width: 50% !important;
  }

  .landing-page-info {
    height: 400px !important;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60% !important;
  }

  .landing-page-info-text {
    width: 40% !important;
  }

  .paragraph-padding {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  .project-page-divider {
    height: 400px !important;
    background: url("../img/iStock-624695614_[Jacob Ammentorp Lund].jpg");
    background-size: 130%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50% !important;
  }

  .w-25-md {
    width: 25% !important;
  }

  .w-50-md {
    width: 50% !important;
  }

  .w-75-md {
    width: 75% !important;
  }

  .w-100-md {
    width: 100% !important;
  }
}
@media (min-width: 1281px) {
  .news-box {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .news-card {
    width: 360px !important;
  }

  .news-img {
    width: 360px !important;
    height: 270px !important;
  }
}
@media (max-width: 1280px) {
  .footer-picture {
    padding-bottom: 0 !important;
    margin-top: -200px !important;
    width: 100vw !important;
  }
}

/*# sourceMappingURL=stc.style.css.map */
