<span class="text-summa-primary">Vorschau: </span>
<span>{{ preview }}</span>
<div id="spinner{{ chunk.id }}" class="spinner-border htmx-indicator fs-6" role="status">
    <span class="visually-hidden">Loading...</span>
</div>