@import "stc._variables";
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





.bg-stc-background {
  background-color: $background!important;
}
.bg-stc-tertiary {
  background-color: $tertiary!important;
}
.chunk-box td{
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.current-footnotes {
  //min-height: 80px!important;
  max-height: 400px!important;
  min-width: 300px!important;
  max-width: 25vw!important;
  border-top-right-radius: 0.45rem!important;
  border-top-left-radius: 0.45rem!important;
  background-color: #e6e6e6;
  margin: auto;
  bottom: 60px!important;
  padding: 10px!important;
  hyphens: auto;
  word-wrap: break-word!important;
  overflow-wrap: break-word!important;
  border-style: solid!important;
  border-width: thin;
  border-color: #343a40!important;
}

.footnotes {
  display: none!important;
}

.generic-container{
  background-color: $tertiary!important;
}
.table td, .table th {
  border: unset!important;
}



.text-stc-primary {
  color: $primary!important;
}
.viewer-container {
  background-color: $tertiary!important;
  border-radius: 0.45rem!important;
  min-width: 768px!important;
}