<!DOCTYPE html>
<html {{ site.language_attributes }}>


    {% include 'html-header.twig' %}

    <body id="body_wrapper" hx-history-elt class="bg-light">
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    {% include "navbar.twig" %}
    <main class="w-100">
        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}
    </main>

    {% include "footer.twig" %}
    </body>
</html>
