<!DOCTYPE html>
<html {{ site.language_attributes }}>


    {% include 'html-header.twig' %}

    <body id="body_wrapper" hx-history-elt class="bg-stc-background">
    <script>
        $('#body_wrapper').removeClass("modal-open")
    </script>
    {% include "navbar.twig" %}
        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}
    <div class="mt-5"></div>

    </body>
</html>
