<nav id="ff" class="navbar navbar-expand bg-summa-primary d-flex flex-column">
    <div class="container-fluid nav-content d-flex justify-content-start align-content-start" >
            <ul class="navbar-nav align-self-start">
                <li class="nav-item mr-1">
                    <a class="nav-link nav-link-footer" href="{{ webInfo.baseurl }}kontakt"><small class="">KONTAKT</small></a>
                </li>
                <li class="nav-item mr-1">
                    <a class="nav-link nav-link-footer" href="https://portal.uni-koeln.de/impressum" target="_blank"><small class="">IMPRESSUM</small></a>
                </li>
                <li class="nav-item mr-1">
                    <a class="nav-link nav-link-footer" href="https://portal.uni-koeln.de/datenschutz" target="_blank"><small class="">DATENSCHUTZ</small></a>
                </li>

            </ul>
    </div>
</nav>


