<nav id="ff" class="navbar navbar-expand footer bg-summa-primary d-flex flex-column" style="padding-bottom: 100px!important;">

    <div class="container-fluid nav-content d-flex justify-content-start align-content-start" >
            <ul class="navbar-nav align-self-start">
                <li class="nav-item mr-1">
                    <a class="nav-link nav-link-footer" href="{{ webInfo.baseurl }}kontakt"><small class="">KONTAKT</small></a>
                </li>
                <li class="nav-item mr-1">
                    <a class="nav-link nav-link-footer" href="https://portal.uni-koeln.de/impressum" target="_blank"><small class="">IMPRESSUM</small></a>
                </li>
                <li class="nav-item mr-1">
                    <a class="nav-link nav-link-footer" href="https://portal.uni-koeln.de/datenschutz" target="_blank"><small class="">DATENSCHUTZ</small></a>
                </li>
                <li class="nav-item mr-1">
                    <a class="nav-link nav-link-footer" href="https://lists.uni-koeln.de/mailman/listinfo/summa-newsletter/" target="_blank"><small class="">NEWSLETTER</small></a>
                </li>
            </ul>
    </div>
    <h5 class="text-white mt-5">Wir danken für die Unterstützung:</h5>
    <div class="d-flex mt-3 pt-3 pb-3 justify-content-center flex-wrap bg-white w-100">
        <a style="margin: 5px!important; " href="https://uni-koeln.de" target="_blank">
            <img style="" src="{{ webInfo.baseurl }}app/themes/summa/assets/img/013_Unisiegel_plus_Schriftzug_grau_DE.jpg" height="50" data-bs-toggle="tooltip" data-bs-placement="left" title="Universität zu Köln">
        </a>
        <a style="margin: 5px!important;" href="https://wunderlichundweigand.de" target="_blank">
            <img style="" src="{{ webInfo.baseurl }}app/themes/summa/assets/img/cropped-cropped-logo-e1619599030509.png" height="50" data-bs-toggle="tooltip" data-bs-placement="left" title="Wunderlich und Weigand">
        </a>



    </div>
</nav>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>


